**/node_modules
**/.env
**/yarn.lock
**/yarn-error.log

mobile/node_modules
mobile/.expo/*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
**/qacademic-api.json
